
@model List<NamrataKalyani.Models.ReportModel>


@{ ViewBag.Title = "Report";
    //Layout = null; 
        }
<style>
   .table>tr>td
   {
       font-size:12px;
   }

   div,a,th,td
   {
       font-size:14px;
   }

</style>
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
 <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />
<div class="panel panel-primary">
    <div class="panel-heading headingcolor">
        <h4>Report</h4>
    </div>
</div>



<div style="text-align:right;padding-bottom:10px;">
    @Html.ActionLink("Create Report", "Create", null, new { @class = "btn btn-primary",@style="font-size:14px;" })
</div>
<table class="table" id="example" >
    <thead>

        <tr>
            <th>
                ReportType
            </th>
            <th>
                ShortName
            </th>
            <th>
                CreatedBy
            </th>
             
            <th>
                UpdatedBy
            </th>
            
            <th>Action</th>

        </tr>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ReportType)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ShortName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedName)
                </td>
                
                <td>
                    @Html.DisplayFor(modelItem => item.UpdatedName)
                </td>
                
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-primary" })
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>}
    </tbody>
</table>

<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap5.min.js"></script>
 
<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>

