@model NamrataKalyani.Models.ComputerBloodPictureReportModel

@{
    ViewBag.Title = "ComputerBloodPictureReport";
}

<div class="panel panel-default ">
    <div class="panel-heading headingcolor">
        <h3>Clinical    Biochemistory   Report </h3>
        <h5><u>LIPID Profile</u></h5>
    </div>
</div>
<div class="bottom-right">
    @Html.ActionLink("Back to List", "Index")
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <form class="form-inline">
        <div class="form-group">

            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @*<div class="form-group">
            @html.labelfor(model => model.cbpid, htmlattributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @html.editorfor(model => model.cbpid, new { htmlattributes = new { @class = "form-control" } })
                    @html.validationmessagefor(model => model.cbpid, "", new { @class = "text-danger" })
                </div>
        </div>*@

            <div class="form-group">
                @Html.LabelFor(model => model.haemoglobin, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.haemoglobin, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.haemoglobin, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.erythrocyteCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.erythrocyteCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.erythrocyteCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.totalWBCCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.totalWBCCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.totalWBCCount, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.neutrophils, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.neutrophils, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.neutrophils, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.lymphocytes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.lymphocytes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.lymphocytes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.eosinophils, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.eosinophils, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.eosinophils, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.monocytes, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.monocytes, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.monocytes, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.basophils, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.basophils, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.basophils, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.rbcs, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.rbcs, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.rbcs, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.plateletCount, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-4" style="margin-bottom:2px">
                    @Html.EditorFor(model => model.plateletCount, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.plateletCount, "", new { @class = "text-danger" })
                </div>
            </div>
            <br />
            <br />
            <div class="form-group">

                <div class="col-md-offset-6 col-md-10" class="text-center" style="margin-top:10px">
                    <input type="submit" class="btn btn-success" value="Create" />
                </div>
            </div>   
        </div>
    </form>
}


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
