@model IEnumerable<NamrataKalyani.Models._BilIingInfoModel>
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
    var Count = 0;
}
 <link href="~/Content/dataTables.bootstrap4.min.css" rel="stylesheet" />

<div class="panel panel-default ">
    <div class="panel-heading headingcolor">
        <h4>Dashboard</h4>
    </div>
</div>
<script>
    function redirectToPatienetRegistration() {

        window.location = "http://localhost:54429/Doc/PatientInfo";
    }
</script>
@using (Html.BeginForm("DashBoard","Doc",FormMethod.Get))
{


    <div class="col-md-12">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="panel panel-default ">
                <div class="panel-heading headingcolor">
                    @Html.Label("Search Existing Patient")

                </div>
                <div class="panel-body bagraoung">
                    <div class="form-group">
                        @Html.Label("Mobile", htmlAttributes: new { @class = "control-label col-md-4" })
                        <div class="col-md-6" style="margin-bottom:3px">
                            @Html.TextBox("Name_Mobile", null,new { @class = "form-control",@type="number" })
                            @Html.ValidationMessage("NameOrMobile", "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-offset-4 col-md-6">
                            <input type="submit" class="btn btn-success" value="Search" name="Dashboard" />
                            @Html.ActionLink("New Registration", "PatientInfo", null, new { @class = "btn btn-primary" })

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}

@using (Html.BeginForm("Dashboard", "Doc", FormMethod.Get))
{
    <div class="row">
        <div class="col-md-offset-2 col-md-2" style="margin-bottom:4px">
            @*@Html.DropDownList("PatientList", null, "Select Patient", new { @class = "form-control" })*@
            <label>Start Date</label>
            <input type="date"   id="min" name="BeginDate" class="form-control" />
        </div>
        <div class="col-md-2" style="margin-bottom:4px">
            <label>End Date</label>
            <input type="date" name="EndDate" id="max" class="form-control" />
        </div>
        <div class="col-md-1" style="padding-top:24px;padding-left:1px;">
           
            <input type="submit" name="max" id="max" class="btn btn-primary" />
        </div>

    </div>
}

<table class="table table-condensed table-striped" id="example">
    <thead>
        <tr>
            <th>Sno</th>
            <th>Bill No</th>
            <th>Book BillNo</th>
            <th>Date</th>
            <th>
                Patient Name
            </th>
            <th>Referal Doctor</th>
            <th>Investigation</th>
            <th>
                Mobile Number
            </th>

            <th> Action </th>
        </tr>
    </thead>
    @if (Model != null)
    {
    <tbody>
        @foreach (var item in Model)
        {

        <tr>
            <td>
                @{Count++; } @Count
            </td>
            <td>
                @item.BillId
            </td>
            <td>
                @item.BillNumber
            </td>
            <td>
                @item.Date
            </td>
            <td>
                @item.PatientName
            </td>

            <td>
                @item.DoctorName
            </td>
            <td>
                @item.ReportName
            </td>
            <td>
                @item.MobileNo
            </td>

            <td>
                <a class="btn btn-primary" href="~/Doc/GetAllReportsByPatientId?Pid=@item.PId">View Reports</a>
                <a class="btn btn-warning" href="~/Billing/GenerateBill/@item.BillId">Print Bill</a>
                <a class="btn btn-success" href="~/Billing/UpdateBillingInfo/@item.BillId">Edit Bill</a>
            </td>
        </tr>
        }   
    </tbody>
                                            }
</table>
<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
<script src="https://cdn.datatables.net/datetime/1.1.1/js/dataTables.dateTime.min.js"></script>
<script>
    
    var minDate, maxDate;

    // Custom filtering function which will search data in column four between two values
    $.fn.dataTable.ext.search.push(
        function (settings, data, dataIndex) {
            var min = minDate.val();
            var max = maxDate.val();
            var date = new Date(data[5]);

            if (
                (min === null && max === null) ||
                (min === null && date <= max) ||
                (min <= date && max === null) ||
                (min <= date && date <= max)
            ) {
                return true;
            }
            return false;
        }
    );


    // Create date inputs
    minDate = new DateTime($('#min'), {
        format: 'MMMM Do YYYY'
    });
    maxDate = new DateTime($('#max'), {
        format: 'MMMM Do YYYY'
    });

    // DataTables initialisation
    var table = $('#mytable').DataTable();

    // Refilter the table
    $('#min, #max').on('change', function () {
        table.draw();
    });
    
</script>

<script src="~/Scripts/jquery-3.5.1.js"></script>
<script src="~/Scripts/jquery.dataTables.min.js"></script>
<script src="~/Scripts/dataTables.bootstrap5.min.js"></script>

<script>
    $(document).ready(function () {
        $('#example').DataTable();
    });
</script>
