@model IEnumerable<NamrataKalyani.Models.GetAllReportsByPatientIdModel>

@{
    ViewBag.Title = "GetAllReportsByPatientId";
    Layout = "~/Views/Shared/_MyLayout.cshtml";
}

<div class="panel panel-default" style="width:150%;background-color:dodgerblue">
    <div class="panel-heading headingcolor">
        <h2>Create Reports</h2>
    </div>
</div>

 
 <div class="container-fluid">
    <table class="table" style="width:150%;max-width:150%">
        <tr>
            <th>Action</th>
            <th>
                Patient Name
            </th>
            <th>
                Report Name
            </th>

            <th>
                @Html.DisplayNameFor(model => model.CreatedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CreatedOn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UpdatedOn)
            </th>
            <th>Approval Status</th>
            <th>Approval Reason</th>
            <th>Approved By</th>
        </tr>

        @foreach (var item in Model)
        {


    <tr>

        <td>
            @if (item.ApprovalFlag == 2)
            {

                if (item.isPrinted == true)
                {
                    @Html.ActionLink("Print Without Header", "Print_LIPIDProfileReport", new { Pid = item.Pid, BillId = item.BillId, ReportId = item.ReportId, Client = true }, new { @class = "btn btn-danger" })
                }
                else
                {
                    @Html.ActionLink("Print Without Header", "Print_LIPIDProfileReport", new { Pid = item.Pid, BillId = item.BillId, ReportId = item.ReportId, Client = true }, new { @class = "btn btn-success" })
                }

                if (item.isPrinted == true)
                {
                    @Html.ActionLink("Print With Header", "ShowReportWithHeader", new { Pid = item.Pid, BillId = item.BillId, ReportId = item.ReportId, Client = true }, new { @class = "btn btn-danger" })

                }
                else
                {
                    @Html.ActionLink("Print With Header", "ShowReportWithHeader", new { Pid = item.Pid, BillId = item.BillId, ReportId = item.ReportId, Client = true }, new { @class = "btn btn-success" })



                    @*@Html.ActionLink("Print Without Header", "Print_LIPIDProfileReport", new { Pid = item.Pid, BillId = item.BillId, ReportId = item.ReportId }, new { @class = "btn btn-success" })
                @Html.ActionLink("Print With Header", "ShowReportWithHeader", new { Pid = item.Pid, BillId = item.BillId, ReportId = item.ReportId }, new { @class = "btn btn-success" })*@

                }
            }
            @Html.ActionLink("Edit", "EditPrintReport", new { Pid = item.Pid, BillId = item.BillId, ReportId = item.ReportId }, new { @class = "btn btn-primary" })
            
            </td>
        <td>
            @Html.DisplayFor(modelItem => item.PatientName)
        </td>
        <td>
            <input type="hidden" id="BillId" value="@item.BillId" />
            @Html.DisplayFor(modelItem => item.Name)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.CreatedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.UpdatedOn)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovalReason)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ApprovedBy)
        </td>

    </tr>
        }

    </table>
</div>
<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
    $('#CreateBill').click(function () {
        var id = $('#BillId').val();
        window.location.replace("http://localhost:54429/Billing/GetBillingInfo/?BillId=" + id);
    });
</script>   