<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Akber Diagnostic Center</title>
    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/Slider.css" rel="stylesheet" />
    <script src="~/Scripts/Slider.js"></script>
    <link href="~/Content/boxicons.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    
    <style>
        @@page {
            margin: 0;
            padding: 0px 200px 0px 0px;
        }
    </style>
</head>
<body id="body-pd" style="padding-top:0px;margin-left:0">
    <div class="container-fluid" style="margin: 0; width: 100%">
         
            <img src="~/Images/AkbarLabHeader.jpeg" height="180" style="width:100%" />
         
        <div style="padding-top:6px;">

        </div>
    </div>
        <div class="container">

            @*@{
                    Html.RenderPartial("_PatientDetails");
                }*@

            @RenderBody()

        </div>

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
</body>
</html>
