<!DOCTYPE html>
<html lang="en">
<head>
    <title>Akber Diagnostic Center</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="~/Scripts/bootstrap.bundle.min.js"></script>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/buttons/2.0.1/css/buttons.dataTables.min.css" />
    <link href="~/Content/Slider.css" rel="stylesheet" />
    <script src="~/Scripts/Slider.js"></script>
    <link href="~/Content/boxicons.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    <style>
        /* Set height of the grid so .sidenav can be 100% (adjust if needed) */
        .row.content {
            height: 1500px;
        }

        /* Set gray background color and 100% height */
        .sidenav {
            background-color: #f1f1f1;
            height: 100%;
        }

        /* Set black background color, white text and some padding */
        footer {
            background-color: #555;
            color: white;
            padding: 15px;
        }

        /* On small screens, set height to 'auto' for sidenav and grid */
        @@media screen and (max-width: 767px) {
            .sidenav {
                height: auto;
                padding: 15px;
            }

            .row.content {
                height: auto;
            }
        }
    </style>
</head>
<body id="body-pd" style="background-color:white;height:100px;">
    <header class="header" id="header">
        <div class="header_toggle"> <i class='bx bx-menu' id="header-toggle"></i> </div>
        <div class="row" style="padding-top:12px;padding-right:50px;">
            <div class="col-md-4" style="text-align:left;padding-top:4px;">
                <p style="color:white"><i class='bx bx-award nav_icon'></i> <span class="nav_name">Welcome: @Convert.ToString(System.Web.HttpContext.Current.Session["UserName"])</span></p>

            </div>
            <div class="col-md-2">
                <a href="@Url.Action("Settings", "Home", null)" class="nav_link"> <i class='bx bx-briefcase nav_icon'></i> <span class="nav_name">Settings</span></a>

            </div>

            @if (Convert.ToInt32(Session["RoleId"]) == 1)
            {
                <div class="col-md-3">
                    <a href="@Url.Action("Index", "Notification", null)" class="nav_link"> <i class='bx bx-speaker nav_icon'></i> <span class="nav_name">Notification</span></a>
                </div>
            }
            <div class="col-md-3">
                <a href="@Url.Action("Logout","Login",null)" class="nav_link"> <i class='bx bx-user nav_icon'></i> <span class="nav_name">Sign Out</span> </a>
            </div>
        </div>



    </header>
    <div class="l-navbar" id="nav-bar">
        <nav class="nav">
            <div>
                @if (Convert.ToInt32(Session["RoleId"]) == 1 || Convert.ToInt32(Session["RoleId"]) == 4)
                {
                    <div>
                        <ul style="text-align:left;" class="nav_link">
                            <li class="dropdown" style="text-align:left;">
                                <a class="nav-link dropdown-item" href="#" role="button" data-bs-toggle="dropdown" style="color:white;">
                                    <i class='bx bxs-grid-alt nav_icon'></i>
                                    <span class="nav_name">Request</span>
                                </a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a class="dropdown-item" title="Home" href="@Url.Action("ViewPendingRequest", "Home", null)">
                                            <i class='bx bxs-grid-alt nav_icon'></i>
                                            <span class="nav_name">Pending</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" title="Home" href="@Url.Action("ViewApprovalRequest", "Home", null)">
                                            <i class='bx bxs-grid-alt nav_icon'></i>
                                            <span class="nav_name">Approval</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" title="Home" href="@Url.Action("ViewRejectRequest", "Home", null)">
                                            <i class='bx bxs-grid-alt nav_icon'></i>
                                            <span class="nav_name">Reject</span>
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    @*<a data-toggle="tooltip" title="Home" href="@Url.Action("Dashboard", "Doc", null)" class="nav_link">
                            <i class='bx bxs-grid-alt nav_icon'></i>
                            <span class="nav_name">Pending</span>
                        </a>
                        <a data-toggle="tooltip" title="Home" href="@Url.Action("Dashboard", "Doc", null)" class="nav_link">
                            <i class='bx bxs-grid-alt nav_icon'></i>
                            <span class="nav_name">Approved</span>
                        </a>
                        <a data-toggle="tooltip" title="Home" href="@Url.Action("Dashboard", "Doc", null)" class="nav_link">
                            <i class='bx bxs-grid-alt nav_icon'></i>
                            <span class="nav_name">Rejected</span>
                        </a>*@




                }
                <a data-toggle="tooltip" title="New Registration" href="@Url.Action("PatientInfo","Doc",null)" class="nav_link"> <i class='bx bx-wink-smile nav_icon'></i> <span class="nav_name">New Registration</span> </a>
                <div>
                    @if (Convert.ToInt32(Session["RoleId"]) == 1)
                    {
                        <a data-toggle="tooltip" title="Home" href="@Url.Action("Dashboard", "Doc", null)" class="nav_link">
                            <i class='bx bxs-grid-alt nav_icon'></i>
                            <span class="nav_name">Home</span>
                        </a>

                        <a data-toggle="tooltip" title="Reports" href="@Url.Action("index", "Reports", null)" class="nav_link">
                            <i class='bx bxs-report nav_icon'></i>
                            <span class="nav_name">Report</span>
                        </a>

                        <a data-toggle="tooltip" title="Consultant" href="@Url.Action("index", "Consultant", null)" class="nav_link">
                            <i class='bx bxs-bank nav_icon'></i>
                            <span class="nav_name">Consultant</span>
                        </a>
                        <a data-toggle="tooltip" title="Doctor" href="@Url.Action("ReferDocIndex", "ReferalDoctor", null)" class="nav_link">
                            <i class='bx bxs-plus-circle nav_icon'></i> <span class="nav_name">Doctor</span>
                        </a>
                    }
                    @if (Convert.ToInt32(Session["RoleId"]) == 2)
                    {
                        <a data-toggle="tooltip" title="Home" href="@Url.Action("Dashboard", "Doc", null)" class="nav_link">
                            <i class='bx bxs-grid-alt nav_icon'></i>
                            <span class="nav_name">Home</span>
                        </a>
                        <a data-toggle="tooltip" title="Doctor" href="@Url.Action("ReferDocIndex", "ReferalDoctor", null)" class="nav_link">
                            <i class='bx bxs-plus-circle nav_icon'></i> <span class="nav_name">Doctor</span>
                        </a>
                    }

                    @if (Convert.ToInt32(Session["RoleId"]) == 3)
                    {

                        <a data-toggle="tooltip" title="Home" href="@Url.Action("MedicoDashboard", "Medico", new {CodeName=Convert.ToString(Session["UserName"])})" class="nav_link">
                            <i class='bx bxs-grid-alt nav_icon'></i>
                            <span class="nav_name">Home</span>
                        </a>


                    }

                    @if (Convert.ToInt32(Session["RoleId"]) == 1)
                    {
                        <a data-toggle="tooltip" title="Bill" href="@Url.Action("GetBillingInfo", "Billing", null)" class="nav_link">
                            <i class='bx bx-pie-chart nav_icon'></i> <span class="nav_name">Finance</span>
                        </a>
                    }

                    @if (Convert.ToInt32(Session["RoleId"]) == 1)
                    {
                        <a data-toggle="tooltip" title="Employees" href="@Url.Action("Employees", "Login", null)" class="nav_link">
                            <i class='bx bx-walk nav_icon'></i> <span class="nav_name">Employees</span>
                        </a>
                        <a href="@Url.Action("ShowCollectedByDetails", "Billing", null)" class="nav_link">
                            <i class='bx bxl-amazon nav_icon'></i> <span class="nav_name">CollectedBy</span>
                        </a>
                    }
                    <a data-toggle="tooltip" title="Service" href="@Url.Action("ServiceInfo","Doc",null)" class="nav_link">
                        <i class='bx bxl-twitter nav_icon'></i> <span class="nav_name">Service</span>
                    </a>
                    <a data-toggle="tooltip" title="Notepad" href="@Url.Action("Index","Notepad",null)" class="nav_link">
                        <i class='bx bx-book-add nav_icon'></i> <span class="nav_name">Notepad</span>
                    </a>

                    @if (Convert.ToInt32(Session["RoleId"]) == 3)
                    {
                        <a data-toggle="tooltip" title="Bill" href="@Url.Action("GetClientBillsByCode", "Billing", null)" class="nav_link">
                            <i class='bx bx-pie-chart nav_icon'></i> <span class="nav_name">Finance</span>
                        </a>
                        <a data-toggle="tooltip" title="Bill" href="@Url.Action("GetClientBillsByCode", "Billing", null)" class="nav_link">
                            <i class='bx bxs-plane-alt nav_icon'></i> <span class="nav_name">MedicoRx</span>
                        </a>
                    }
                    @if (Convert.ToInt32(Session["RoleId"]) == 1)
                    {
                        <a data-toggle="tooltip" title="Edit Registration" href="@Url.Action("GetAllPatientDetails", "Patients", null)" class="nav_link">
                            <i class='bx bxs-pen nav_icon'></i>
                            <span class="nav_name">Edit Registration</span>
                        </a>
                    }
                </div>
            </div>
        </nav>
    </div>
    <div class="height-100 bg-light">
        @RenderBody()
    </div>

    @*@Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")*@



    @RenderSection("scripts", required: false)
</body>
</html>
